.cursor-pointer {
    cursor: pointer;
}

.small-col-modal {
    width: 80%;
}

.text-area-vertical {
    height: 200px !important;
}

.style-form {
    max-width: 40%;
    margin: auto;
    text-align: center;
}

#error-container {
    color: red;
    font-size: 16px;
    display: none;
    width: 30%;
    height: auto;
    margin: 0;
    margin-bottom: 10px;
}

#error-message {
    color: red;
    display: none;
    text-align: center;
    width: 30%;
}


#texte-accueil {
    max-width: 20%;
    text-align: center;
}

.texte-titre {
    max-width: 20%;
    text-align: center;
}

#svg-compte {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.svg-top-page {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;;
    height: 100% !important;
    margin-top: 3% !important;
    margin-bottom: 1% !important;
}


#c-100 {
    max-width: 100%;
    text-align: center;
}

.c-100 {
    max-width: 100%;
    text-align: center;
}

#c-40 {
    max-width: 40%;
    text-align: center;
}

.c-40 {
    max-width: 40%;
    text-align: center;
}

#label-surveiller {
    text-align: center;
    padding-left: 10px;
}

.c-pl10 {
    text-align: center;
    padding-left: 10px;
}

.max-width {
    width: 100%;
}

.width-200px {
    max-width: 200px;
}

#espace-en-tete {
    padding-top: 56px; /* hauteur de la navbar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    padding-top: 56px; /* hauteur de la navbar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#photo_display {
    max-width: 200px;
}