.cursor-pointer {
    cursor: pointer;
}

.small-col-modal {
    width: 80%;
}

.text-area-vertical {
    height: 200px !important;
}

.style-form {
    max-width: 40%;
    margin: auto;
    text-align: center;
}

#error-container {
    color: red;
    font-size: 16px;
    display: none;
    width: 30%;
    max-height: auto;
    margin: 0;
    margin-bottom: 10px;
}

#error-message{
    color: red;
    display: none;
    text-align: center;
    width: 30%;
}