{% extends "layout.html" %}
{% block content %}

    <div id="svg-compte">
        <svg fill="#000000" width="100px" height="100px" viewBox="0 0 16 16"
             id="register-16px"
             xmlns="http://www.w3.org/2000/svg">
            <path id="Path_184" data-name="Path 184"
                  d="M57.5,41a.5.5,0,0,0-.5.5V43H47V31h2v.5a.5.5,0,0,0,.5.5h5a.5.5,0,0,0,.5-.5V31h2v.5a.5.5,0,0,0,1,0v-1a.5.5,0,0,0-.5-.5H55v-.5A1.5,1.5,0,0,0,53.5,28h-3A1.5,1.5,0,0,0,49,29.5V30H46.5a.5.5,0,0,0-.5.5v13a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-2A.5.5,0,0,0,57.5,41ZM50,29.5a.5.5,0,0,1,.5-.5h3a.5.5,0,0,1,.5.5V31H50Zm11.854,4.646-2-2a.5.5,0,0,0-.708,0l-6,6A.5.5,0,0,0,53,38.5v2a.5.5,0,0,0,.5.5h2a.5.5,0,0,0,.354-.146l6-6A.5.5,0,0,0,61.854,34.146ZM54,40V38.707l5.5-5.5L60.793,34.5l-5.5,5.5Zm-2,.5a.5.5,0,0,1-.5.5h-2a.5.5,0,0,1,0-1h2A.5.5,0,0,1,52,40.5Zm0-3a.5.5,0,0,1-.5.5h-2a.5.5,0,0,1,0-1h2A.5.5,0,0,1,52,37.5ZM54.5,35h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Z"
                  transform="translate(-46 -28)"></path>
        </svg>
    </div>
    <form action="{{ url_for('compte') }}"
          method="POST"
          enctype="multipart/form-data" onsubmit="return validateForm()">

        <div class="container" id="svg-profil">
            <h1 class="h3 mb-1 fw-normal">Votre profil</h1>
            <div id="error-message" class="alert alert-danger">Veuillez
                sélectionner au moins un
                établissement.
            </div>
            <div class="container" id="svg-user">
                <div class="row g-3 py-1">
                    <div class="col">
                        <input type="text" name="nom_complet"
                               class="form-control"
                               placeholder="Nom complet"
                               aria-label="Nom complet"
                               value="{{ user[1] }}" disabled>
                    </div>
                </div>

                <div class="row py-1">
                    <div class="col">
                        <input type="email" name="courriel"
                               class="form-control"
                               placeholder="Adresse courriel"
                               aria-label="courriel"
                               value="{{ user[2] }}" disabled>
                    </div>
                </div>
                <div class="row py-1">
                    <div class="col">
                        <label class="form-label"  id="label-surveiller" >Veuillez
                            sélectionner au
                            moins un
                            établissements à surveiller</label><select
                            name="choix_etablissements"
                            id="choix_etablissements" multiple size="13"
                            class="form-select custom-select">
                        {% for etablissement in etablissements %}
                            {% if choix_etablissements is not none and etablissement[0] in choix_etablissements %}
                                <option value="{{ etablissement[0] }}"
                                        selected>
                                    {{ etablissement[1] }}
                                    [{{ etablissement[2] }}]
                                </option>
                            {% else %}
                                <option value="{{ etablissement[0] }}">
                                    {{ etablissement[1] }}
                                    [{{ etablissement[2] }}]
                                </option>
                            {% endif %}

                        {% endfor %}
                    </select>


                    </div>
                </div>
                <div class="row py-1">
                    <label for="photo" class="form-label">Photo de
                        profil</label>
                    <div class="col">
                        {% if user[6] %}
                            <img src="{{ url_for('photo', id_photo=user[6]) }}"
                                 class="img-thumbnail" alt="photo profil"
                                 id="width-200px">
                        {% endif %}
                        <div class="input-group">
                            <input id="photo" type="file" class="form-control"
                                   name="photo">
                        </div>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary my-4">Enregistrer
                    les modifications
                </button>
            </div>
        </div>
    </form>

    <script>
        function validateForm() {
            var select = document.getElementById('choix_etablissements');
            var errorMessage = document.getElementById('error-message');
            if (select.selectedOptions.length === 0) {
                errorMessage.style.display = 'inline-block'; // Affiche le
                // message d'erreur
                return false; // Empêche la soumission du formulaire
            } else {
                errorMessage.style.display = 'none'; // Cache le message d'erreur si tout est en ordre
            }
            return true; // Permet la soumission du formulaire si tout est en ordre
        }
    </script>
{% endblock %}
