{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Confirmation de désabonnement</h1>
                        <p class="card-text text-center mb-4">Vous avez été désabonné avec succès de cet établissement.</p>
                        <div class="text-center">
                            <a href="{{ url_for('accueil') }}" class="btn btn-primary">Retour à l'accueil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
