{% extends "layout.html" %}
{% block content %}






    <div class="container">

        <div>

            <h3>Rechercher une contravention</h3>

            <form action="/search" method="GET">
                <input type="text" name="search" placeholder="Rechercher">
                <button type="submit">Envoyer</button>
            </form>


        </div>
    </div>


<a target="_blank" href="https://icons8.com/icon/7695/search">Loupe</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
{% endblock %}