{% extends "layout.html" %}
{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; margin-top: 3%; margin-bottom: 1%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px"
             fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
            <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5"></path>
        </svg>
    </div>
    <form method="POST">
        <div class="container" style="max-width: 30%; text-align: center;">
            <h1 class="h3 mb-1 fw-normal">Plainte</h1>
            <h2 class="h5 mb-3 fw-normal">Veuillez entrer les informations</h2>
            <div class="form-floating my-1">
                <input type="text" name="plainte-etablissement"
                       class="form-control"
                       id="plainte-etablissement"
                       placeholder="Nom de l'établissement">
                <label for="plainte-etablissement">Nom de
                    l'établissement</label>
            </div>
            <div class="form-floating my-1">
                <input type="text" name="plainte-adresse" class="form-control"
                       id="plainte-adresse" placeholder="Adresse">
                <label for="plainte-adresse">Adresse</label>
            </div>
            <div class="form-floating my-1">
                <input type="text" name="plainte-ville" class="form-control"
                       id="plainte-ville" placeholder="Ville">
                <label for="plainte-ville">Ville</label>
            </div>
            <div class="form-floating my-1">
                <input type="date" name="plainte-date" class="form-control"
                       id="plainte-date">
                <label for="plainte-date">Date de la visite</label>
            </div>
            <div class="form-floating my-1">
                <input type="text" name="plainte-nom" class="form-control"
                       id="plainte-nom" placeholder="Nom de famille">
                <label for="plainte-nom">Votre nom de famille</label>
            </div>
            <div class="form-floating my-1">
                <input type="text" name="plainte-prenom" class="form-control"
                       id="plainte-prenom" placeholder="Password">
                <label for="plainte-prenom">Votre prénom</label>
            </div>
            <div class="form-floating my-1">
                <textarea type="text" name="plainte-description"
                          class="form-control"
                          id="plainte-description"
                          placeholder="description"> </textarea>
                <label for="plainte-description">Description de
                    l'évènement</label>
            </div>
            {% if erreur %}
                <div class="alert alert-danger my-3" role="alert">
                    {{ erreur }}
                </div>
            {% endif %}
            <button id="btn-submit-plainte" name="btn-submit-plainte"
                    class="btn btn-primary w-100 py-2 my-1"
                    type="button">Envoyer la plainte
            </button>


        </div>
    </form>

{% endblock %}