{% if results %}
    <div>
        <h5 class="text-start ">Résultats pour les dates du <span class="fw-bold">{{ start }}</span> au <span
                class="fw-bold">{{ end }} : </span></h5>
    </div>
    <div class="table-responsive mt-3">
        <table id="table-dates-results" class="table table-striped table-bordered table-sm table-hover">
            <thead class="table-dark ">
            <tr>
                <th>Établissement</th>
                <th>Nombre de contraventions</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in results.items() %}
                <tr>
                    <td class="cursor-pointer" data-id-business="{{ key }}"
                    >{{ value['etablissement'] }}</td>
                    <td>{{ value['count'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% else %}
    <p> Aucun résultat pour les dates du <span class="fw-bold">{{ start }}</span> au <span
            class="fw-bold">{{ end }}</span>.</p>
{% endif %}