{% if results %}
    <div>
        <h2 class="text-center">Résultats</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm table-hover">
            <thead class="table-dark ">
            <tr>

                <th>Établissement</th>
                <th>Nombre de contraventions</th>

            </tr>
            </thead>
            <tbody>
            {% for key, value in results.items() %}
                <tr>

                    <td>{{ key }}</td>
                    <td>{{ value }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% else %}
    <p> Aucun résultat pour les dates du <span>{{ date1 }}</span> au <span>{{ date2 }}</span>.</p>
{% endif %}