{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Confirmation de
                            désabonnement</h1>
                        <p class="card-text text-center mb-4">Êtes-vous sûr de
                            vouloir vous désabonner de cet établissement?</p>
                        <div class="text-center">
                            <button id="confirm-unsubscribe-btn"
                                    class="btn btn-danger">
                                Confirmer le désabonnement
                            </button>
                            <a href="{{ url_for('index') }}"
                               class="btn btn-secondary mt-3">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
